.main_dashboard {
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
}

.dashboard_main {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: 600;
}

.dashboard_greeting {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 600;
}

.dasboard_summary {
    margin-top: 16px;
    font-size: 14px;
}

.dashboard_analyltics {
    margin-bottom: 6px;
    color: #FF5403;
    ;
}

.cloud {
    height: 25px;
    margin-top: 8px;
}

.dashboard_days {
    margin-top: 23px;
}

.dashboard_all_time {
    width: 84px;
    height: 40px;
    background: #FFDDCD;
    /* Secondary/Orange */
    text-align: center;
    border: 1px solid #FF5403;
    border-radius: 100px;
    color: #FF5403;
    margin-right: 12px;
    padding-top: 8px;
}

.days {
    width: 65px;
    height: 40px;
    margin-right: 12px;
    padding-top: 10px;
}

.customdate {
    width: 114px;
    height: 40px;
    padding-top: 10px;
}

.page_view {
    font-size: 18px;
    margin-top: 32px;
    margin-right: 24px;
    font-weight: 500;
}

.page_num {
    margin-top: 52px;
    font-size: 48px;
    font-weight: 500;
}

.doug {
    height: 200px;
    width: 200px;
    margin-top: 45px;
}

.rings {
    border: 1px solid #EFF1F6;
    border-radius: 12px;
    width: 500px;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.top_head {
    font-weight: 500;
    font-size: 18px;
}

.ring_data {
    margin-top: 42px;
}

.viewsubs {
    color: #FF5403;
    font-size: 14px;
    font-weight: 400;
}

.ring_text {
    margin-top: 34px;
}
.green{
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 17px;
}
.red{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 19px;
}
.yellow{
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;  
    margin-top: 19px;
}
.blue{
    background-color: blue;
    height: 20px;
    width: 20px;
    border-radius: 50%;  
    margin-top: 19px;
}
.gray{
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 50%;  
    margin-top: 29px;
}
.country {
    margin-top: 18px;
}

.flag {
    width: 30px;

}